apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgresql
type: Opaque
stringData:
  username: {{ .Values.postgres.username | quote }}
  password: {{ .Values.postgres.password | quote }}
