apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  labels:
    app: mongodb
type: Opaque
stringData:
  username: {{ .Values.mongo.username | quote }}
  password: {{ .Values.mongo.password | quote }}
